@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.game {
  height: 192px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transition: 1s;
          transition: 1s;
  display: block;
  width: 100%; }
  .game:hover {
    background-position: 50% 70%; }

.game .caption {
  position: absolute;
  bottom: 0;
  height: 64px;
  width: 100%;
  padding: 10px;
  padding-top: 48px;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.game .labels {
  position: absolute;
  right: 10px;
  top: 10px; }
  .game .labels .label {
    display: inline-block;
    margin-right: 10px; }

.caption .title {
  margin-right: 10px; }

a.game .title {
  color: white; }

.caption .subtitle {
  color: #555; }

.main-logo {
  -webkit-transition: 0.5s;
          transition: 0.5s;
  -webkit-animation: fadein 2s;
          animation: fadein 2s; }
  .main-logo:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px); }
    .main-logo:hover + .main-tagline {
      -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
              transform: translateY(-5px); }

.main-tagline {
  font-family: "Oswald", sans-serif;
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
  -webkit-transition: 0.75s;
          transition: 0.75s; }

body {
  background: black;
  color: #ddd;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px; }

p {
  color: #777; }

h1, h2, h3, h4, h5 {
  font-family: "Oswald", sans-serif; }

.center {
  text-align: center; }

.margin-top, .main-logo {
  margin-top: 20px; }

.padding-col {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px; }
