extends _layout

block header
  include _logo_header

block content
  span.center
    h1 Our Games

  include _game
  include _person

  .row
    .col-xs-12.padding-col
      +game(
        "Proof",
        "a dark, emotional, puzzling journey",
        "http://blogs.psychcentral.com/life-goals/files/2014/09/cute-dog-pup-1024x640.jpg",
        "http://google.com",
        true,
        true,
        true,
        true)

  span.center
    h1 Us
    p
      | Voltic is an indepenedent game "studio", made up of three dudes from Brisbane, Australia. We've been making games in some capacity for more than 10 years, and haven't stopped yet. We don't always work together on the same projects, but a little solidarity never hurt anyone*.
    p
      small
        | * except when it did.
    .row
      .col-md-4
        +person("Ben", "vivavolt", "Ben is a programmer, pixel artist, designer and wicked mad dude. He likes coffee, beer, being a nerd and long walks on the beach.", "I made the website so I get to write my own bio")
      .col-md-4
        +person("Ricky", "iammonshushu", "Ricky is predominantly a game designer, his hobbies include telling Ben what to do and telling Ben what to do.", "Yeah take that Ricky, that ought to take you down a peg")
      .col-md-4
        +person("Jake", "jakegreer1992", "Jake is an animator, artist and designer and might be the nicest person you've never met. He likes dogs, but then who doesn't?", "Dogz rule catz drool")

  span.center
    h1 You
    p
      | Yeah, you're alright.
